:root {
  --main-turquoise: #90ddde;
  --strong-turquoise: #40e0d0;
  --dark-turquoise: #008a8c;
  --light-turquoise: #c4eeef;

  --main-salmon: #e27a5a;
  --dark-salmon: #d45a34;

  --main-black: #0e0e0e;
  --black: #000;

  --main-grey: #d9d9d9;
  --light-grey: #eeeeee;

  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Kodchasan", sans-serif;
  font-weight: normal;
  box-sizing: border-box;
}
body {
  margin: 0;
}
main {
  margin-top: 80px;
}
.default-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--black);
  display: block;
}

input {
  border-radius: 5px;
}

input:focus-visible {
  outline: none;
}

button {
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 5px;
  background: transparent;
}

.default-button {
  height: 50px;
  width: 100%;
  background-color: var(--main-turquoise);
}

.default-button:hover {
  filter: brightness(1.05);
}

.default-salmon-button {
  background: var(--dark-salmon);
  color: var(--white);
}

.default-salmon-button a {
  color: var(--white);
}

.default-footer-bttn {
  position: fixed;
  bottom: 0;
  width: 100%;
  right: 50%;
  transform: translateX(50%);
  max-width: 1200px;
}

@media all and (max-width: 460px) {
  .default-wrapper {
    padding: 0 0.5rem;
  }
}

@keyframes brightness {
  0% {
    filter: brightness(1);
  }
  /* 50% {
        filter: brightness(1.05);
    } */
  100% {
    filter: brightness(1.2);
  }
}

@keyframes menu-background {
  0% {
    background: var(--white);
  }
  /* 50% {
        filter: brightness(1.05);
    } */
  100% {
    background: var(--light-turquoise);
  }
}
