.login__container {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin: 0 auto;
}

.buttons__section {
  margin-top: auto;
  padding: 0px 1rem 20px;
  display: flex;
  flex-direction: column;
}

.buttons__google {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background: var(--main-turquoise);
  margin-bottom: 20px;
}

.buttons__google svg {
  margin-right: 10px;
}

.buttons__register {
  height: 50px;
  background: var(--main-salmon);
  color: var(--white);
}
